@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}


/* selector agrupado */
h1, div.banner{
 text-align: center;
}

.form{
    margin: auto;
    background-color: rgb(241, 236, 236);
    width: 400px;
    height: 500px;
}

